<!--{  extends "personal/header.html" %}-->

{%  block content %}
<p>Welcome to this site</p>
    <div>
        <button type="button" class="btn btn-primary" style="border-radius: 99em; padding: .42rem 1.7rem;">Create</button>
        <button type="button" class="btn btn-danger" style="border-radius: 99em; padding: .42rem 1.7rem;">Delete</button>
    </div>


<div style='font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
{#    {% include "personal/includes/dashboard.html" %}#}
</div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
{% endblock %}
